div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 100px;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s; */
    /* transition: all 2s ease-in 1s; */
    /* transform: rotate(90deg); */
    /* transform: scale(1,2);/*along axis  */
                                    /*  scaleX() scaleY()*/
    /* transition: all 2s ease-in; */
    /* animation-name: colorAnimate;
    animation-duration: 3s; */
    /* animation-timing-function: ease-in; */
    /* animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse ; */
    animation: colorAnimate 3s 0s infinite alternate-reverse;
}
@keyframes colorAnimate {
    /* from{background-color: aqua;}
    to{background-color: blue;} */
    0%{left: 0px;
        background-color: red;
        color: black;
    }
    50%{
        background-color: blue;
    }
    100%{left: 200px;
        background-color: yellow;
        color: white;
    }
}
/*pseduoclass*/
div:hover{
    /* background-color: red;
    color: white;
    font-size: 20px; */
    /* transform: rotate(180deg); */
    /* transform: skew(30deg); */
}
/* div:active{
    background-color: azure;
    color:black
} */