* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 2px;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  color: #333;
  padding: 20px;
  
}

.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile {
  text-align: center;
  padding: 30px 20px;
  background: #0078D7;
  color: white;
}

.profile img {
  border-radius: 10%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 15px;
}

.details {
  padding: 20px;
}

.details h2 {
  margin-bottom: 10px;
  color: #0078D7;
}

.details ul {
  list-style: none;
  margin-bottom: 20px;
}

.details li {
  margin-bottom: 8px;
  line-height: 1.6;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .profile img {
    width: 100px;
    height: 100px;
  }

  .details h2 {
    font-size: 18px;
  }
}