
#h1{
    font-weight:normal;
}
#h2{
    font-weight: lighter;
}
#h3{
    font-weight: bold;
}
#h4{
    font-weight: 100;
}
a{
    text-decoration: none;
}
#one{
    font-family: arial;
}
#two{
    font-family: 'Segoe UI';
}
#a{
    font-size: 25px;
    text-transform: lowercase;
}

#b{
    font-size: 10px;
}
#c{
    line-height: normal;
     text-transform: capitalize;
}
