body{
    text-align: center;
}
div{
    height: 100px;
    width:50px;
    display:inline-block; 
    border: 2px solid black;
}
#container{
    width: 700px;
    height: 300px;     
    display: flex;
    flex-direction:row;
    justify-content: center;
    /* flex-wrap:wrap; */
    align-items: flex-start; 
    /* align-content: center;    */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
}
#box1{
    background-color: aqua;
}
#box2{
    background-color:red ;
    height: 200px;
    /* align-self: flex-end; */
    /* flex-shrink: 0.5; */
    /* flex-grow:1 ; */
}
#box3{
    background-color: rgb(238, 10, 174);
    height: 75px;
}
#box4{
    background-color: rgb(74, 20, 211);
}
#box5{
    background-color: rgb(218, 86, 20);
}