body {
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
